.sidebar-toggle, .navbar-custom-menu {
    color: #737479 !important;
}
.navbar {
    background: #FFF !important;
    box-shadow: 2px 2px 5px #999 !important;
}

.logo {
    background: #787bf0 !important;
    color: #FFF !important;
}

.logo:hover, .sidebar-toggle:hover {
    background: #FFF !important;
    opacity: 0.6;
}