<div class="content-wrapper">
    <section class="content-header">
        <section class="content">
            <router-outlet></router-outlet>
        </section>
    </section>
    <div class="dropup">
        <button class="btn btn-default dropdown-toggle" type="button" id="drop-floating" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">add</i>
        </button>
        <ul id="dropdown-menu" class="dropdown-menu" aria-labelledby="drop-floating">
            <li><a data-toggle="tooltip" class="drop-float-option" href=""><i class="material-icons">add</i></a></li>
            <li><a class="drop-float-option" href=""><i class="material-icons">add</i></a></li>
            <li><a class="drop-float-option" href=""><i class="material-icons">add</i></a></li>
            <li><a class="drop-float-option" href=""><i class="material-icons">add</i></a></li>
        </ul>
    </div>
</div>