#drop-floating {
    position: fixed;
    bottom: 65px;
    right: 15px;
    z-index: 100;
    display: flex;
    padding-left: 15px;
    align-items: center;

    line-height: 56px;
    width: 56px;
    height: 56px;
    vertical-align: middle;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    border-radius: 50%;
    border: 0;
    background-clip: padding-box;
    overflow: hidden;
    
    color: rgb(255,255,255);
    background-color: #01579B;
}

#drop-floating:focus {
    border: 0;
}

#dropdown-menu {
    text-align: right;
    box-shadow: none;
    border-color: #eee;
    right: 24px !important;
    bottom: 112px !important;
    position: fixed;
    min-width: 56px;
    background: transparent;
    left: auto;
    border: 0px solid transparent !important;
}

.dropdown-menu>li>a {
    padding: 6px 10px;
}

.drop-float-option {
    z-index: 20;
    display: flex;
    padding-left: 13px;
    align-items: center;

    line-height: 40px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    border-radius: 50%;
    color: #FFF !important;
    overflow: hidden;
    margin-bottom: 7px;
}

.md-20 {
    font-size: 20px !important;
}

.span-option { display: inline-block !important;}

.drop-float-option:hover {
    opacity: 0.8 !important;
}

.dropup:hover .dropdown-menu {display: block;}

@media screen and (max-width: 376px) {
    #drop-floating {
        bottom: 75px;
    }

    #dropdown-menu {
        bottom: 122px !important;
    }
}

@media screen and (max-width: 221px) {
    #drop-floating {
        bottom: 5px;
    }

    #dropdown-menu {
        bottom: 52px !important;
    }
}