.main-sidebar {
    background: #203658;
}

.active a {
    background: #324869  !important;
}

ul li a:hover {
    background: #324869  !important;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    display: inline-block;
    font-size: 18px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    width: 30px;
}
